    html, body
      {
          height:100%;
          margin:0;
          padding:0;
          background-color: #FCEEE0;

      }

     div {
          position:relative;
          height: 75%;
          width: 100%;
      }
    

      img {
          display: inline-block;
          position: absolute;
          margin: auto;

      }

      h1 {
        text-align: center;
      }

p{ 

text-align: center;
}


      ul {
        background: #FCEEE0;
        font-size: 1.2rem;
        padding: 1rem;
        border-width: 1px 0;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }


     li {
        margin: 0;
        padding: 0;
      }

    ul li {
        display: inline;
        padding-right: 0.5rem;

      }

    .submit {
        display: inline;
        text-align: center;
        color: #B19647;
        background-color: #FCEEE0;

    }

      a {
          display: inline;
          padding: 10px;
        color: #B19647;
      }


      a:hover {
        color: black;
        text-decoration: underline;
      }
